.add-new{
    width: 325px;
    height: 325px;

    .plus{
        border: 1px dashed black;
        padding: 15px 20px;
        border-radius: 50%;
    }
}

.gap{
    gap:20px
}

.timer-section {
    display: flex;
    align-items: baseline;
    gap: 20px;
}